$background: linear-gradient(-45deg, #ff1c1c, #ff5656);

$card-bg-pattern: linear-gradient(135deg, #eceddc 25%, transparent 25%),
  linear-gradient(225deg, #eceddc 25%, transparent 25%),
  linear-gradient(315deg, #eceddc 25%, transparent 25%),
  linear-gradient(45deg, #eceddc 25%, transparent 25%);
$card-bg-pattern-size: 30px 30px;
$card-inactive: #d8d8d8;
$card-chosen: #00b1f4;
$card-correct: #00b335;
$card-error: #ff424e;

$btn-color-easy: #00b335;
$btn-color-medium: #333;
$btn-color-hard: #ff424e;

$color-white: white;
$color-black: #222;
$color-gray: #eee;
